.background {
	background: url(../assets/main_bg.jpg) center repeat;
	@include bg_pos;
}

.background_rooms {
	background: url(../assets/bg_rooms_2.png) center repeat;
    @include bg_pos_1;
}

.background_gallery {
	background: url(../assets/bg_rooms_2.png) center repeat;
	@include bg_pos_1;
}

.background_contacts {
	background: url(../assets/bg_rooms_2.png) center repeat;
	@include bg_pos_1;
}

.background_about {
	background: url(../assets/bg_rooms_2.png) center repeat;
	@include bg_pos_1;
}