.contacts_main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    @media screen and (max-width: 768px) {

    }

    .address {
        display: grid;
        align-items: center;
        justify-items: end;
        line-height: 1.5em;
        font-weight: 700;
        font-size: 20px;
    }

    ul{
        a {
            color: black;
        }
    }
    
}